/* Basic Style */
body {
  color: #333;
  background-color: #f8f8f8;
  font-family: Lato, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li,
h3 {
  list-style: none;
}

input,
button {
  outline: none;
}

.btn {
  width: 60px;
  color: #888;
  border: 0;
  background: none;
  font-size: 15px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3a3a;
}

.matrix {
  display: block;
  width: 500px;
  margin: 0 auto;
  text-align: right;
}

.matrix img {
  width: 100%;
}

.matrix .more-inf {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .matrix {
    text-align: center;
  }
}

.app {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task__text {
  display: inline-block;
  width: 56%;
  flex-grow: 1
}

.d-flex {
  display: flex;
}

/* Heading */
h3,
#app__new-task-label {
  margin: 0;
  padding: 30px 0 10px;
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  text-transform: uppercase;
}

.task__text {
  height: 21px;
  margin: 0;
  padding: 0 9px;
  color: #888;
  border: 1px solid #ddd;
  font-size: 18px;
  line-height: 18px;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
}

.task__text:hover {
  color: #333;
}

/* New Task */
#app__new-task-label {
  display: block;
  margin: 0 0 20px;
}

#app__new-task {
  width: 318px;
}

/* Task list */
.task {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;

  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}

.task > * {
  vertical-align: middle;
}

.task > .task__check {
  margin: 0 10px;
}

.task > label {
  width: 226px;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
}

.task > input[type="text"] {
  width: 226px
}

.task__delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task__delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks label {
  color: #888;
  text-decoration: line-through
}

/* Edit Task */
.tasks .task input[type=text] {
  display: none
}

.tasks .task.edit-mode input[type=text] {
  display: inline-block;
  width: 224px
}

.tasks .task.edit-mode label {
  display: none;
}